<!DOCTYPE hmtl>
<html lang ="en">
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE =edge">
		<meta name = "viewport" content = "width = device-width,initial-scale = 1">
		<meta name = "description" content = "">
		<meta name = "author" content = "">
		<title>Free Movies Database</title>
	
		<link rel = "stylesheet" href = "{{ url_for('static',filename = 'css/bootstrap.min.css')}}">
		<link rel = "stylesheet" href = "{{ url_for('static',filename = 'css/main.css')}}">
		
		
		
	</head>
	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
		<div class = "container">
			<div class = "navbar-header">
				<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
					<span class = "sr-only">Toggle navagation</span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				<a class = "navbar-brand" href = "#top" id = "backtop">MovieDataBase</a>
			</div>
			<div class = "collapse navbar-collapse" id = "sidebar">
				<ul class = "nav navbar-nav">
						<li><a id = "usagelink" href = "#usage">Usage</a></li>
						<li><a id = "parameterslink" href = "#parameters">Parameters</a></li>
						<li><a id = "querylink" href = "#query">Query</a></li>
				</ul>
				
				<ul class = "nav navbar-nav navbar-right">
					<li><a>Welcome</a><li>
					<li><a href = "mailto:zhenweichen1992@gmail.com">Contact </a><li>
				<ul>

			</div>
		</div>
		</div>
		<div class = "modal fade" id = "alert" role = "dialog">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<div class = "modal-header">
				<button type = "button" class = "close" data-dismiss ="modal">&times;</button>
				<h4 class="modal-title">Error!</h4>
			</div>
			<div class="modal-body">
				<p>Both Fields must be filled out</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
		<div class = "container">
			<div class = "content">
			
				
		{% block content %}
		{% endblock content %}
		
			</div>
			<div class = "footer">
				<hr>
				<p>&copy;<a href = "mailto:zhenweichen1992@gmail.com">Zhenwei Chen</a></p>
				<p>This data comes from<a href = "http://www.imdb.com">IMDb.com</a></p>
			</div>
		</div>
		
		<!-- scripts -->
		<script src = "../static/js/jquery.js"></script>
		<!--<script src = "../static/js/bootstrap.min.js"></script>-->
		<script src = "../static/js/bootstrap.js"></script>
<script>
function goToByScroll(id){
    id = id.replace("link", "");
    $('html,body').animate({
       scrollTop: $("#"+id).offset().top},
      'slow');
};
$("#backtop").click(function(e){
	e.preventDefault();
	
	$('html,body').animate({
	 scrollTop: 0},
      'slow');
});
$("#sidebar > ul > li > a").click(function(e) { 
      //Prevent a page reload when a link is pressed
		e.preventDefault(); 
      // Call the scroll function
		goToByScroll(this.id);           
});
$(document).keydown(function(e){
	if(e.keyCode == 27)
	{	
		$("#alert").modal('hide');
	}
});
 $(document).ready(function()
 {
	$("#search-by-title-form").on('submit',function(e){
		e.preventDefault();
		
		if ($("#y").val() == null || $("#y").val() == "" || $("#t").val() == null || $("#t").val() == "")
		{
			$("#alert").modal({keyboard:true})
			return false;
		}
		query();
	});
 });
 function query()
 {
	$.ajax({
	url: "/query",
	type: "POST",
	data: $("form").serialize(),
	
	
	success : function(json) 
	{
		console.log(json)
		$("#search-by-title-response").show();
		$("#query-url").show();
		if($("#request").length == 0)
		{
			$("#query-url").append("<pre class = 'alert alert-info' style = 'margin-bottom:;white-space:normal;' id = 'request'>" + "http://movieapi.mmsguygnd2.us-west-2.elasticbeanstalk.com/api/movies/?" + "t=" + encodeURIComponent($("#t").val())  + "&y=" + encodeURIComponent($("#y").val()) + "</pre>");
		}
		else
		{	
			$('#request').remove();
			$("#query-url").append("<pre class = 'alert alert-info' style = 'margin-bottom:;white-space:normal;' id = 'request'>" + "http://movieapi.mmsguygnd2.us-west-2.elasticbeanstalk.com/api/movies/?" + "t=" + encodeURIComponent($("#t").val())  + "&y=" + encodeURIComponent($("#y").val()) + "</pre>");
		}
		if($('#response').length == 0){
			$("#search-by-title-response").append("<pre class = 'alert alert-success' style = 'margin-bottom:;white-space:normal;' id = 'response'>" + JSON.stringify(json) + "</pre>");
		}
		else
		{
			$('#response').remove();
			$("#search-by-title-response").append("<pre class = 'alert alert-success' style = 'margin-bottom:;white-space:normal;' id = 'response'>" + JSON.stringify(json) + "</pre>");
		}
		console.log("success")
	},
	
	error : function(json){
		
		$("#search-by-title-response").show();
		$("#query-url").show();
		if($("#request").length == 0)
		{
			$("#query-url").append("<pre class = 'alert alert-info' style = 'margin-bottom:;white-space:normal;' id = 'request'>" + "http://localhost:5000/api/movies/?" + "t=" + encodeURIComponent($("#t").val())  + "&y=" + encodeURIComponent($("#y").val()) + "</pre>");
		}
		else
		{	
			$('#request').remove();
			$("#query-url").append("<pre class = 'alert alert-info' style = 'margin-bottom:;white-space:normal;' id = 'request'>" + "http://localhost:5000/api/movies/?" + "t=" + encodeURIComponent($("#t").val())  + "&y=" + encodeURIComponent($("#y").val()) + "</pre>");
			
		}
		if($('#response').length == 0)
		{
			$("#search-by-title-response").append("<pre class = 'alert alert-danger' style = 'margin-bottom:;white-space:normal;' id = 'response'>" + json.responseText + "</pre>");
			
		}
		else
		{
			$('#response').remove();
			$("#search-by-title-response").append("<pre class = 'alert alert-danger' style = 'margin-bottom:;white-space:normal;' id = 'response'>" + json.responseText + "</pre>");
			
		}
		console.log("error")
	}
	});
 };
	</script>
	</body>
</html>